<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>WELCOME TO FREQUENCY PAGE</h1>
            <form action="#" th:action="@{/input}" th:object="${inputDTO}" method="post" class="container">
<!--                <div>-->
                    <label for="input">Enter Your message:</label>
                    <textarea type="text" id="input" ></textarea>

<!--                </div>-->
<!--                <div>-->
                    <input type="submit" th:value="${action}"  />
<!--                </div>-->
            </form>
            <div>
                <div th:if="${resultDTO} != null">RESULT:</div>
<!--                <div th:each="word : ${words}">-->
<!--                    <div th:text="${word}">WORD: </div>-->
<!--                </div>-->
                <div th:if="${resultDTO.getData()} != null" th:text="${resultDTO}"></div>
            </div>
        </div>

    </div>
    <footer>Developed by JRzD</footer>

</body>
</html>