<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>WELCOME TO FREQUENCY PAGE</h1>
            <form action="#" th:action="@{/input}" th:object="${inputDTO}" method="POST" class="container">

                    <label for="input">Enter Your message:</label>
                    <textarea type="text" id="input" th:field="*{data}"></textarea>
                    <input type="submit" th:value="${action}"  />

            </form>
            <div>
                <div th:if="${resultDTO} != null">RESULT:</div>

                <div th:if="${resultDTO.getData()} != null" th:text="${resultDTO.getData()}"></div>
            </div>
        </div>

    </div>
    <footer>Developed by JRzD</footer>

</body>
</html>